@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('./src/assets/fonts/Geist.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./src/assets/fonts/GeistMono.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"healTheWeb","weight":"normal","style":"normal","allowCrossOrigin":true}] */
  font-family: 'healTheWeb';
  src: url('./src/assets/fonts/HealTheWebA_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"hibana","weight":"normal","style":"normal","allowCrossOrigin":true}] */
  font-family: 'hibana';
  src: url('./src/assets/fonts/Hibana_SubMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"meyrin","weight":"normal","style":"normal","allowCrossOrigin":true}] */
  font-family: 'meyrin';
  src: url('./src/assets/fonts/Meyrin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 90%;

    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 90%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;

    --card: transparent;
    --card-foreground: 0 0% 90%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 15%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}